
body {
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    min-height: 100%;
    margin: 0 auto;
    border: 10px solid #fff;
    color: #fff;
} 


a { 
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

p { 
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Maven Pro', Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5em;
    color: #000;
    letter-spacing: 1px;
    line-height: 3em;
} 

h2 { 
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: -3px;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3em;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    line-height: 1.25em;
    margin-bottom: 40px;
    
}
span {
    font-weight: 900;
    color: #fff;

}

header { 
    width: 100%;
    background-color: #fff;
    height: 65px;
}

nav {

    position: absolute;
    right: 10px;
    bottom: -5px;
}
nav > ul > li{
    float: left;
} 


nav a {
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
    margin-right: 15px;
    line-height: 6em;
}

nav a:hover{
    color: #ff3535;    
}
nav a:visited {
/*    color: #5b9fd5;*/
}

img {
    margin: 0 auto;
    text-align: center;
}
.icon-nav {
    margin-right: 20px;
    margin-bottom: 7px;
}
.header-container {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
.wrapper {
    width: 50%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.text-section {
    background-image: linear-gradient(rgba(0,0,0,0.06),rgba(0,0,0,0) 52px);
    padding: 98px 0 23px;
    min-height: 350px;
    margin: 0 auto;

  } 
.grey-bg {
    background-color: #333;
}
.blue-bg {
    background-color: #4fabff;   
    color: #fff;
}

.red-bg {
    background-color: #ff2046;   
    color: #fff;
}
.green-bg {
    background-color: #00cecb;   
    color: #fff;
    
}
.purple-bg {
    background-color: #470691;   
    color: #fff;
}
.yellow-bg {
    background-color: #f3fc00;   
    color: #fff;
}

.icons {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;

}

.clear {
    clear: both;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.logo {
    display: block;

}

.button {
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-weight: 500;
    background-color:#ff2046;
    text-indent:0;
    border-bottom:none;
    display: block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    text-transform: uppercase;
    height:50px;
    line-height:50px;
    width:220px;
    text-decoration:none;
    text-align: center;
    margin: 20px auto;
}

.button:hover {
    background-color:rgba( 81, 89, 85, .75);
}

.button:active {
    margin-top: 3px;

}

.button-blue {
    background-color: #ff2046;
    display: block;
    margin-right: 30px;
    text-indent:0;
    border-bottom:none;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    text-transform: uppercase;
    height:50px;
    line-height:50px;
    width:220px;
    text-decoration:none;
    text-align: center;


}
footer {
    background-color: #fff;
    padding: 20px;
}

.footer-info {
    text-align: center;
    font-size: 1.25em;
    height: 4px;
    line-height: 5px;
    color: #000;
}
.footer-info a {
    text-indent: none;
    font-weight: bolder;
}
.footer-info a:hover {
    color: #00a0da;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.newyork {

    margin-right: 10px;
}


.carioca {
        display: none;
        border: 10px solid #fff;
        margin-bottom: 20px;

}

#resume {
    background-color: #000;
    color: #fff;

}
#gif {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 120px;
}
span.text-resume {
    font-size: 1.25em;
    line-height: 1em;
    display: block;
    text-align: center;

   

}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

